!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title Mc11Notenote
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %span#logo= link_to 'NoteNote', root_path
      %span#user{ style:'float:right;' }
        -if user_signed_in?
          =link_to '+ Note', new_note_path
          =link_to 'Account', edit_user_registration_path
          =link_to 'Sign Out', destroy_user_session_path, method: :delete
        -else
          =link_to 'Sign Up', new_user_registration_path
          =link_to 'Sign In', new_user_session_path

    -flash.each do |name, msg|
      =content_tag :p, msg, class:"#{name}"

    =yield
